:host {
  --button-height: 40px;
  --button-width: 40px;
  --button-background: var(--mau-color-dark);

  ion-button {
    margin: 0px;
    height: var(--button-height);
    width: var(--button-width);
    --background: var(--button-background);

    &::part(native) {
      font-size: 8px;
      font-weight: 500;
    }
  }
}