<div>
  @for (option of menuOptions(); track $index) {
    <div (click)='optionSelected(option)' [class.center-element-without-icon]='!option?.hasChip && !option.iconName' [class.center-chip]='option.hasChip'>
      @if (option.hasChip) {
        <mau-chip [currentState]='option.optionName' />
      } @else {
        <span>
          {{ option.optionName }}
        </span>
      }
      @if (option.iconName) {
        <mau-icon [name]='option.iconName' [class.trash-option]='option.action == "DELETE"' />
      }
    </div>
  }
</div>