<ion-content>
  @if (isMenuOpen()) {
    <mau-backdrop [isBackdropVisible]='true' (backdropClicked)='backdropClicked($event)'/>
  }
  <mau-overview>
    <mau-header
      [menuOptions]='menuOptions'
      [isMenuOpen]='isMenuOpen()'
      [isShownIconTrash]='tasksToRemove().length > 0'
      [isBackButtonShown]='isBackButtonShown()'
      (removeElements)='removeItemTasks()'
      (optionSelected)='optionMenuSelected($event)'
      (menuOpened)='menuOpened($event)' header>
      Mau Tasks App
    </mau-header>

    <mau-show-content-or-message [hasContent]='tasks.length > 0' [message]='message' content>
      <mau-task-list [tasks]='tasks' [optionSelected]='optionSelected()' (taskSelected)='taskSelected($event)' />
    </mau-show-content-or-message>
  </mau-overview>
</ion-content>
