:host {
  main {
    height: 100%;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 0px) and (max-width: 576px) {
      padding: 0px;
    }

    div {
      background: var(--mau-color-light);
      border-radius: 10px;
      overflow: hidden;

      @media (min-width: 0px) and (max-width: 576px) {
        height: inherit;
        width: inherit;
        border-radius: 0px;
        display: flex;
        flex-direction: column;

        ::ng-deep [header] { 
          display: none;
        }
      }

      div {
        ::ng-deep [content] {
          padding: 20px;
          height: inherit;
          display: flex;
          flex-direction: column;
          gap: 10px;
          mau-show-content-or-message {
            --height-content: inherit;
            overflow-y: scroll;
          }
        }
      }
  
      @media (min-width: 576px) and (max-width: 768px) {
        height: 600px;
        width: 500px;
      }
      
      @media (min-width: 768px) {
        height: 650px;
        width: 650px;
      }
    }
  }
}