:host {
  --color-icon: var(--mau-color-light);
  --height-icon: 20px;
  --width-icon: 20px;

  ion-icon {
    color: var(--color-icon);
    height: var(--height-icon);
    width: var(--width-icon);
    cursor: pointer;
  }
}