<div>
  <span>
    @if (isBackButtonShown()) {
      <mau-icon name='arrow-undo-outline' (click)='removeOption()' />
    }

    @if (isShownIconTrash()) {
      <mau-icon name='trash-outline' (click)='removeOption()' />
    }
  </span>

  <h2>
    <ng-content />
  </h2>

  @if (menuOptions().length > 0) {
    <mau-button (onClick)='buttonToggleMenu()'>
      <mau-icon name='ellipsis-horizontal-outline' />
    </mau-button>
  }

  @if (menuOptions().length > 0 && isShownMenu()) {
    <mau-menu-options [menuOptions]='menuOptions()' (setOptionSelected)='optionMenuSelected($event)' />
  }
</div>