// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --mau-color-dark: #1b3a34;
  --mau-color-light: #e1ebea;
  --mau-color-medium: #3f6960;
}