@if (isShownMenuOption()) {
  <mau-backdrop [isBackdropVisible]='true' (backdropClicked)='backdropClicked($event)'/>
}
<form [formGroup]='formGroupCreateTask' (submit)='save()'>
  <mau-input 
    [readonly]='validation()'
    formControlName='title' 
    [errorMessageInput]='errorMessageInputTitle()' 
    label='title' 
    placeholder='Type title your task' 
  />

  <mau-textarea 
    [readonly]='validation()'
    formControlName='description' 
    [errorMessageTextarea]='errorMessageTextarea()'
    label='description' 
    placeholder='Type description task' 
  />

  <mau-datetime
    [readonly]='validation()'
    formControlName='dateExpire'
    [min]='minDate'
    [value]='datetimeDefault'
    [errorMessageDatetime]='errorMessageDatetime()'
    label='expiration date' 
  />

  @if (task()) {
    <div (click)='toggleMenu()'>
      <mau-chip label='select state task' [currentState]='stateTask()' />
    </div>
  }

  @if (task() && menuOptionsTask().length > 0 && isShownMenuOption() && !validation()) {
    <mau-menu-options [menuOptions]='menuOptionsTask()' (setOptionSelected)='optionMenuSelected($event)' />
  }

  <mau-button 
    *ngIf='!validation()'
    [disabled]='
      !formGroupCreateTask.valid ||
      !formGroupCreateTask.controls["title"].valid ||
      !formGroupCreateTask.controls["description"].valid ||
      !formGroupCreateTask.controls["dateExpire"].valid ||
      (
        errorMessageDatetime().length > 0 && 
        formGroupCreateTask.controls["dateExpire"].dirty
      )
    '
    type='submit'>
      @if (task()) {
        <mau-icon name='refresh-circle-outline' />
      } @else { 
        <mau-icon name='add' />
      }
  </mau-button>
</form>