:host {
  div {
    ion-chip {
      width: 60px;
      margin: 0px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      
      span {
        font-size: 10px;
        font-weight: 700;
      }
    }
  }
  
  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: var(--mau-color-dark);
    margin: 0px;
  }
  .success {
    --background: var(--mau-color-success-light);
    --color: var(--mau-color-dark);
    
    span {
      text-decoration: line-through;
    }
  }

  .pending {
    --background: var(--mau-color-warning);
    --color: var(--mau-color-warning-dark);
  }

  .danger {
    --background: var(--mau-color-danger);
    --color: var(--mau-color-danger-dark);

    span {
      text-decoration: line-through;
    }
  }
}