<mau-mobile-header
  [isBackButtonShown]='true'
  (backButton)='backPath()'
>
  {{ 'Details Task #' + taskId }}
</mau-mobile-header>

<ion-content>
  <mau-overview>
    <mau-header 
      header
      [isBackButtonShown]='true'
      (backButton)='backPath()'
    >
      {{ 'Details Task #' + taskId }}
    </mau-header>
    
    <div content>
      <mau-input 
        label='title'
        [value]='task.title'
        [readonly]='true' 
      />

      <mau-textarea 
        label='description'
        [readonly]='true'
        [value]='task.description'
      />

      <mau-datetime
        label='expiration date'
        [readonly]='true'
        [value]='task.dateExpire'
      />

      <mau-chip label='current state' [currentState]='task.stateTask' />
    </div>
  </mau-overview>
</ion-content>