:host {
  --height-content: inherit;

  div {
    height: var(--height-content);
    width: inherit;
    padding-left: 10px;
    padding-right: 10px;

    mau-info-message {
      --height: 100%;
      --width: inherit;
    }
  }
}