:host {
  div {
    cursor: pointer;
    height: 60px;
    width: inherit;
    border-radius: 8px;
    background: var(--mau-color-medium);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 5px 10px var(--mau-color-dark);
    position: relative;

    span {
      color: var(--mau-color-light);
      font-weight: 400;
    }

    & > div:nth-child(1) {
      width: 50px;
      box-shadow: none;
      padding: 0px;
      
      mau-menu-options {
        position: absolute;
        left: 10px;
        top: 33px;
        z-index: 5;
      }
    }

    & > div:nth-child(2) {
      box-shadow: none;
      justify-content: space-between;

      span {
        max-width: 130px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      @media (min-width: 0px) and (max-width: 576px) {
        width: 150px;

        display: flex;
        flex-direction: column;

        span {
          font-size: 12px;
          font-weight: 500;
        }
      }

      @media (min-width: 576px) {
        width: 310px;
      }
    }
  }
}